@model  _1911065425_PhanThanhToan_BigSchool.Models.ViewModels.CoursesViewModel


@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label>Tên Khóa học: </label>
        <input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên khóa học cần tìm">
        <input type="button" class="btn btn-danger" value="Tìm khóa học">
    </div>
    <hr />
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {


                            <button data-user-id="@course.LecturerId"type="button" class="btn btn-outline-primary">Following?</button>


                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {


                        <button data-course-id="@course.Id" type="button" class="btn btn-sm btn-info">Going?</button>

                    }

                </div>

            </li>
}

    </ul>
</div>

@section scripts{
    <script>
        $(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { CourseId: button.attr("data-course-id") }).done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                }).fail(function () {
                    alert("Something failed");
                });
            });


            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { FolloweeId: button.attr("data-user-id") }).done(function () {
                    button
                        .text("Following");
                }).fail(function () {
                    alert("Something failed");
                });
            });
        });
    </script>
}